[run]
source = plugwise
omit=
    */venv/*
    setup.py
    plugwise/connections/*
    plugwise/message.py
    plugwise/messages/*
    plugwise/node.py
    plugwise/nodes/*
    plugwise/parser.py
    plugwise/stick.py
    plugwise/util.py
