[run]
source = plugwise
omit=
    */venv/*
    setup.py
    plugwise/connections/*
    plugwise/controller.py
    plugwise/messages/*
    plugwise/nodes/*
    plugwise/parser.py
    plugwise/stick.py
    plugwise/util.py
