[flake8]
exclude = 
    .venv,
    .git,
    .tox,
    docs,
    venv,
    bin,
    lib,
    deps,
    build,
    plugwise/connections/*.py,
    plugwise/messages/*.py,
    plugwise/nodes/*.py,
    plugwise/controller.py,
    plugwise/parser.py,
    plugwise/stick.py,
    plugwise/util.py
ignore = E203,E231,E266,E501,W503,F403,F401,W503
max-line-length = 89
max-complexity = 20
