# Plugwise CodeOwners
# Order is important. The last matching pattern has the most precedence.

# Specific files
setup.cfg @plugwise/devs
setup.py @plugwise/devs
pyproject.toml @plugwise/devs
requirements*.txt @plugwise/devs

# Main code
/plugwise/ @plugwise/devs
/userdata/ @plugwise/devs

# Tests and development support
/tests/ @bouwew @compatech
/scripts/ @bouwew @compatech

# Networked Plugwise components
/plugwise @bouwew @compatech
