# Plugwise CodeOwners
# Order is important. The last matching pattern has the most precedence.

# Specific files
setup.cfg @plugwise/plugwise-smile
setup.py @plugwise/plugwise-smile
pyproject.toml @plugwise/plugwise-smile
requirements*.txt @plugwise/plugwise-smile

# Main code
/plugwise/ @plugwise/plugwise-smile
/userdata/ @plugwise/plugwise-smile

# Tests and development support
/tests/ @bouwew @compatech
/scripts/ @bouwew @compatech

# Networked Plugwise components
/plugwise @bouwew @compatech

# Generic
* @plugwise/plugwise-smile
