<?xml version="1.0" encoding="UTF-8"?>
<system>
	<gateway>
		<product>stretch</product>
		<hostname>stretch000000</hostname>
		<firmware>2.7.15</firmware>
		<upgrade/>
	</gateway>
	<wlan0/>
	<eth0>
		<mac>01:23:45:67:89:AB</mac>
		<ip>127.0.0.1</ip>
		<bcast>127.0.0.1</bcast>
		<mask>127.0.0.1</mask>
		<proto>dhcp</proto>
		<gateway>127.0.0.1</gateway>
	</eth0>
	<time>2021-01-29T08:23:35.950+01:00</time>
	<timezone><![CDATA[Europe/Amsterdam]]></timezone>
</system>
